body {
    background-color: #C18F61;
    font-family: 'Irish Grover', cursive;
    color: #4D3118;
    position: relative;
    height: 800px;
} 

header {
    font-family: 'Kablammo', cursive;
    font-size: 70px;
    color: #4D3118;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#the_menu {
    position: absolute;
    top: 30px;
    left: 40px;
    padding: 10px 20px;
    background-color: #4D3118;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#the_reset {
    position: absolute;
    top: 500px;
    right: 30px;
    padding: 10px 20px;
    background-color: #4D3118;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

.damage_img {
    border: 5px solid black;
    position: absolute;
    left: 80px;
    top: 310px;
    width: 180px;
    height: auto;
}

#dam0 {
    display: block;
}
#dam1 {
    display: none;
}
#dam2 {
    display: none;
}
#dam3 {
    display: none;
}
#dam4 {
    display: none;
}
#dam5 {
    display: none;
}
#dam6 { 
    display: none;
}
#dam7 {
    display: none;
}

.Shanging {
    position: absolute;
    left: 40px;
    top: 450px;
    width: 200px;
    height: auto;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}
#correctLetters{
    position: absolute;
    left: 650px;;
    top: 250px;;
}

#wrongLetters{
    position:absolute;
    left: 650px;
    top: 300px;
}

#the_submit{
    position:absolute;
    left: 650px;
    top: 450px;

}


#letterInput{
    position: absolute;
    top: -10px;
    ;

}

#submitLetter{
    position:absolute;
    color: #ffffff;
    background-color: #4D3118;

    right: 10px;
}

#img0 {
    display: block;
}
#img1 {
    display: none;
}
#img2 { 
    display: none;
}
#img3 {
    display: none;
}
#img4 {
    display: none;
}
#img5 {
    display: none;
}
#img6 {
    display: none;
}
#img7 {
    display: none;
}

#letterInput {
    width: 150px;
    height: 40px;
    font-size: 40px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #4D3118;
    background-color: #ffffff;
    position: absolute;
    
}

#letterInput:autofill,
#letterInput:-webkit-autofill {
    background-color: #fff !important;
    color: #4D3118 !important;
    border: 2px solid #4D3118 !important;
    box-shadow: 0 0 0px 1000px #fff inset !important;
    font-size: 40px !important;
}





 

#the_submit.button {
    border-radius: 5px;
    border: 2px solid #4D3118;
    background-color: #ffffff;
}

h1 {
    position: absolute;
    bottom: -250px;
    left: 0;
    right: 0;
    text-align: center;
}

